@import "../bower_components/bootstrap/less/bootstrap.less";
@import "fonts/webfontkit-20140322-223840/stylesheet.css";

li.solution {
	display:inline-block;
	margin: 6px;
	border: 1px solid;
	}

table {
	padding: 10px;
	background-color: #ddd;
}


tr:nth-child(odd) {
  
  td:nth-child(odd){
  	background-color: #fff;
  }
  td:nth-child(even){
  	background-color: #000;
  }
}
tr:nth-child(even) {
  td:nth-child(odd){
  	background-color: #000;
  }
  td:nth-child(even){
  	background-color: #fff;
  }
}

td {
	width:30px;
	height:30px;
}

.piece {
	color: red;
	width: 100%;
    text-align:center;
    display: inline-block;
    font-family:'chess_casesregular';
    font-size: 20px;
    &:before {
        content:"w";
    }
}